html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 100;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
/* You can add global styles to this file, and also import other style files */
@page {
  size: auto; /* auto is the initial value */
  margin: 0mm; /* this affects the margin in the printer settings */
}

html,
body {
  background-color: #ffffff;
  margin: 0px; /* this affects the margin on the html before sending to printer */
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.content {
  padding: 15px;
}

.h-73px {
  height: 73px !important;
}

.h-100 {
  height: 100% !important;
}

.w-475 {
  width: 475px !important;
}

.w-100 {
  width: 100% !important;
}

.w-99 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-79 {
  width: 79% !important;
}

.w-78 {
  width: 78% !important;
}

.w-60 {
  width: 60% !important;
}

.w-20 {
  width: 20% !important;
}

.w-19 {
  width: 19% !important;
}

.w-18 {
  width: 18% !important;
}

.w-4 {
  width: 4% !important;
}

.no-margin {
  margin: 0 !important;
}

.pd-r-15 {
  padding-right: 15px !important;
}

.pd-t-22 {
  padding-top: 22px !important;
}

.pd-t-75 {
  padding-top: 75px !important;
}

.mg-r-15 {
  margin-right: 15px !important;
}

.mg-r-8 {
  margin-right: 8px !important;
}

.mg-auto {
  margin: auto !important;
}

.font-bold {
  font-weight: bold !important;
}

.is-number {
  text-align: right;
}

.is-center {
  text-align: center;
}

.is-text {
  text-align: left;
}

.center {
  text-align: center;
}

.box-shadow-none {
  box-shadow: none;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.gray {
  text-align: left;
  color: #969696;
}

.green {
  color: #f0fff3;
  background-color: #155724;
}

.title-content {
  margin: 5px 24px 0px 24px;
  color: #9ebe3f;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comp-wrapper {
  border-radius: 4px;
  margin: 3px 24px 0px 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.mat-content-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.mat-ink-bar {
  background-color: #59ec7a !important;
}

/** start custom input group **/
:root {
  --input-color: rgb(158, 190, 63);
  --input-border: rgb(158, 190, 63);
  --input-background: rgb(253, 253, 253);
  --input-placeholder: rgb(158, 190, 63);
  --input-border-focus: rgb(158, 190, 63);
  --group-color: var(--input-border-focus);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}


.custom-form-group:hover > button.clear , .custom-form-group > input:focus + button.clear {
  visibility: visible;
}
.custom-form-group:hover > button.clear-l , .custom-form-group > input:focus + button.clear-l {
  visibility: visible;
}
.custom-form-group > button.clear {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  height: 100%;
}

.custom-form-group > button.clear-l {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
}
.custom-form-group > button.clear .mat-button-wrapper  {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  height: 100%;
}

.custom-form-group > button.clear-l .mat-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
}
.custom-form-group > button.clear-l .mat-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: small;
  max-height: fit-content;
}
.custom-form-group > button.clear .mat-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  max-height: fit-content;
}

/** end custom input group **/
tr {
  line-height: 11px;
}

button.clear > span.mat-button-wrapper > mat-icon {
  vertical-align: unset !important;
}

span.mat-button-wrapper > svg {
  vertical-align: unset !important;
}

.download-example {
  font-size: 10px;
}
